<ng-template #header>
  <tr>
    <th>Ação</th>
    <th>Variavel</th>
    <th>Valor</th>
    <th>Criação</th>
    <th>Remoção</th>
  </tr>
</ng-template>

<ng-template #body>
  <tr *ngFor="let h of history">
    <td>{{ h.type }}</td>
    <td>{{ h.key }}</td>
    <td>
      <a
        *ngIf="h.valueType === 'File'; else jsonType"
        href="/camunda/api/engine/engine/default/variable-instance/{{
          h.id
        }}/data"
        >Download</a
      >

      <ng-template #jsonType>
        <ngx-json-viewer
          [expanded]="false"
          [json]="h.value === null ? undefined : h.value"
        ></ngx-json-viewer>
      </ng-template>
    </td>
    <td>{{ h.startTime | date : "M/d/yy, h:mm:ss" }}</td>
    <td>{{ h.endTime }}</td>
  </tr>
</ng-template>

<custom-table [thead]="header" [tbody]="body"></custom-table>
