<ng-template #header>
  <tr>
    <th>#</th>
    <th>{{ "labels.ACTION" | translate }}</th>
    <th>{{ "labels.VARIABLE_NAME" | translate }}</th>
    <th>{{ "labels.VARIABLE_VALUE" | translate }}</th>
    <th>{{ "labels.CREATION_DATE" | translate }}</th>
    <th>{{ "labels.FINISHED" | translate }}</th>
  </tr>
</ng-template>

<ng-template #body>
  <tr *ngFor="let h of history; let i = index">
    <td>
      <b>{{ i }}</b>
    </td>
    <td>{{ h.type }}</td>
    <td>{{ h.key }}</td>
    <td>
      <a
        *ngIf="h.valueType === 'File'; else jsonType"
        href="/camunda/api/engine/engine/default/variable-instance/{{
          h.id
        }}/data"
        >{{ "labels.DOWNLOAD" | translate }}</a
      >

      <ng-template #jsonType>
        <ngx-json-viewer
          *ngIf="h.value !== null"
          [expanded]="true"
          [json]="h.valueType === 'Json' ? parse(h.value) : h.value"
        ></ngx-json-viewer>
      </ng-template>
    </td>
    <td>{{ h.startTime | date : "M/d/yy, h:mm:ss" }}</td>
    <td>{{ h.endTime | date : "M/d/yy, h:mm:ss" }}</td>
  </tr>
</ng-template>

<custom-table [thead]="header" [tbody]="body"></custom-table>
