<ng-template #header>
  <tr>
    <th>#</th>
    <th>{{ "labels.ACTION" | translate }}</th>
    <th>{{ "labels.VARIABLE_NAME" | translate }}</th>
    <th>{{ "labels.VARIABLE_VALUE" | translate }}</th>
    <th>{{ "labels.CREATION_DATE" | translate }}</th>
    <th>{{ "labels.FINISHED" | translate }}</th>
  </tr>
</ng-template>

<ng-template #body>
  <tr *ngFor="let h of history$ | async; let i = index">
    <td>
      <b>{{ i }}</b>
    </td>
    <td>{{ h.type }}</td>
    <td>{{ h.key }}</td>
    <td [ngSwitch]="h.valueType">
      <ng-container *ngSwitchCase="'null'"></ng-container>

      <div *ngSwitchCase="'String'" class="form-group">
        <input class="form-control" type="text" readonly [value]="h.value" />
      </div>

      <div *ngSwitchCase="'Boolean'" class="form-group">
        <input
          class="form-control"
          type="checkbox"
          disabled
          [value]="h.value"
        />
      </div>

      <div *ngSwitchCase="'Short'" class="form-group">
        <input class="form-control" type="number" readonly [value]="h.value" />
      </div>

      <div *ngSwitchCase="'Integer'" class="form-group">
        <input class="form-control" type="number" readonly [value]="h.value" />
      </div>

      <div *ngSwitchCase="'Long'" class="form-group">
        <input class="form-control" type="number" readonly [value]="h.value" />
      </div>

      <div *ngSwitchCase="'Double'" class="form-group">
        <input class="form-control" type="number" readonly [value]="h.value" />
      </div>

      <a
        *ngSwitchCase="'File'"
        href="/camunda/api/engine/engine/default/variable-instance/{{
          h.id
        }}/data"
        >{{ "labels.DOWNLOAD" | translate }}</a
      >

      <ngx-json-viewer
        *ngSwitchCase="'Json'"
        [json]="parse(h.value)"
      ></ngx-json-viewer>

      <ng-container *ngSwitchDefault>
        <ngx-json-viewer [json]="h.value"></ngx-json-viewer>
      </ng-container>
    </td>
    <td>{{ h.startTime | date : "M/d/yy, h:mm:ss" }}</td>
    <td>{{ h.endTime | date : "M/d/yy, h:mm:ss" }}</td>
  </tr>
</ng-template>

<custom-table [thead]="header" [tbody]="body"></custom-table>
