<ng-container *ngIf="detail$ | async as d; else loading">
  <ng-template #header>
    <tr customSortHeader (sortClick)="sortBy = $event">
      <th>#</th>
      <th customSortColumnId="type">
        <custom-sort-column-icon></custom-sort-column-icon>
        {{ "labels.ACTION" | translate }}
      </th>
      <th customSortColumnId="variableName">
        <custom-sort-column-icon></custom-sort-column-icon>
        {{ "labels.VARIABLE_NAME" | translate }}
      </th>
      <th customSortColumnId="value">
        <custom-sort-column-icon></custom-sort-column-icon>
        {{ "labels.VARIABLE_VALUE" | translate }}
      </th>
      <th customSortColumnId="time">
        <custom-sort-column-icon></custom-sort-column-icon>
        {{ "labels.CREATION_DATE" | translate }}
      </th>
      <th customSortColumnId="removalTime">
        <custom-sort-column-icon></custom-sort-column-icon>
        {{ "labels.FINISHED" | translate }}
      </th>
    </tr>
  </ng-template>

  <ng-template #body>
    <tr
      *ngFor="let d of d | customSort : sortBy.id : sortBy.order; let i = index"
    >
      <td>
        <b>{{ i }}</b>
      </td>
      <td>{{ d.type }}</td>
      <td>{{ d.variableName }}</td>
      <td [ngSwitch]="d.variableType">
        <ng-container *ngSwitchCase="'Null'"></ng-container>

        <div *ngSwitchCase="'String'" class="form-group">
          <input class="form-control" type="text" readonly [value]="d.value" />
        </div>

        <div *ngSwitchCase="'Boolean'" class="form-group">
          <input
            class="form-control"
            type="checkbox"
            disabled
            [checked]="d.value"
          />
        </div>

        <ng-template *ngSwitchCase="'Short'" [ngTemplateOutlet]="inputNumber">
        </ng-template>

        <ng-template
          *ngSwitchCase="'Integer'"
          [ngTemplateOutlet]="inputNumber"
        ></ng-template>

        <ng-template *ngSwitchCase="'Long'" [ngTemplateOutlet]="inputNumber">
        </ng-template>

        <ng-template
          *ngSwitchCase="'Double'"
          [ngTemplateOutlet]="inputNumber"
        ></ng-template>

        <ng-template #inputNumber>
          <div class="form-group">
            <input
              class="form-control"
              type="number"
              readonly
              [value]="d.value"
            />
          </div>
        </ng-template>

        <div style="display: flex; gap: 1em">
          <b>{{ d.valueInfo.filename }}</b>

          <a
            *ngSwitchCase="'File'"
            href="/camunda/api/engine/engine/default/variable-instance/{{
              d.id
            }}/data"
            ><button type="button" class="btn btn-primary">
              {{ "labels.DOWNLOAD" | translate }}
            </button></a
          >
        </div>

        <ngx-json-viewer
          *ngSwitchCase="'Json'"
          [json]="parse(d.value)"
        ></ngx-json-viewer>

        <ng-container *ngSwitchDefault>
          <ngx-json-viewer [json]="d.value"></ngx-json-viewer>
        </ng-container>
      </td>
      <td>{{ d.time | date : "M/d/yy, h:mm:ss" }}</td>
      <td>{{ d.removalTime | date : "M/d/yy, h:mm:ss" }}</td>
    </tr>
  </ng-template>

  <custom-table [thead]="header" [tbody]="body"></custom-table>
</ng-container>

<ng-template #loading>
  <custom-loading></custom-loading>
</ng-template>
