<div class="row">
  <div class="col-md-6" *ngIf="taskProcessInstance$ | async as t">
    <table class="table table-hover table-bordered cam-table">
      <tr>
        <th>Tarefa</th>
        <th>Assignee</th>
        <th>Inicio</th>
        <th>Fim</th>
        <th>Duração</th>
      </tr>

      <tr *ngFor="let t of t">
        <td>{{ t.name }}</td>
        <td>{{ t.assignee }}</td>
        <td>{{ t.startTime | date : "M/d/yy, h:mm:ss" }}</td>
        <td>{{ t.endTime | date : "M/d/yy, h:mm:ss" }}</td>
        <td>{{ t.duration | durationFormat : "ms" : "hhmmss" }}</td>
      </tr>
    </table>
  </div>

  <div class="col-md-6" *ngIf="variableCreation$ | async as v">
    <table
      class="table table-hover table-bordered cam-table"
      *ngIf="!variableIsEmpty(v)"
    >
      <tr>
        <th>Variavel</th>
        <th>Valor</th>
        <th>Ação</th>
        <th>Criação</th>
        <th>Remoção</th>
      </tr>

      <tr *ngFor="let v of v | keyvalue">
        <td>{{ v.key }}</td>
        <td>
          <ng-container *ngIf="v.value.type !== 'JSON'" ; jsonType>
            {{ v.value.value }}
          </ng-container>

          <ng-template #jsonType>
            <ngx-json-viewer
              [expanded]="false"
              [json]="v.value.value"
            ></ngx-json-viewer>
          </ng-template>
        </td>
        <td>{{ v.value.state }}</td>
        <td>{{ v.value.createTime | date : "M/d/yy, h:mm:ss" }}</td>
        <td>{{ v.value.removalTime | date : "M/d/yy, h:mm:ss" }}</td>
      </tr>
    </table>
  </div>
</div>

<ng-template #emptyVariable>Tarefa não contem variaveis.</ng-template>
