<table
  class="table table-hover cam-table"
  *ngIf="taskProcessInstance$ | async as tpi"
>
  <tr>
    <th>Tarefa</th>
    <th>Assignee</th>
    <th>Inicio</th>
    <th>Fim</th>
    <th>Duração</th>
  </tr>

  <tr *ngFor="let t of tpi">
    <td>{{ t.name }}</td>
    <td>{{ t.assignee }}</td>
    <td>{{ t.startTime | date : "M/d/yy, h:mm:ss" }}</td>
    <td>{{ t.endTime | date : "M/d/yy, h:mm:ss" }}</td>
    <td>{{ t.duration | durationFormat : "ms" : "hhmmss" }}</td>
    <td><ngx-json-viewer [json]="t.variable"></ngx-json-viewer></td>
  </tr>
</table>
