<ng-container *ngIf="taskProcessInstanceDetail$ | async as t; else loading">
  <ng-template #header>
    <tr customSortHeader (sortByClick)="sortBy = $event">
      <th customSortHeaderId="id">
        <custom-sort-header-icon></custom-sort-header-icon>#
      </th>
      <th></th>
      <th customSortHeaderId="name">
        <custom-sort-header-icon></custom-sort-header-icon>
        {{ "labels.TASK" | translate }}
      </th>
      <th customSortHeaderId="assignee" colspan="2">
        <custom-sort-header-icon></custom-sort-header-icon>
        {{ "labels.ASSIGNEE" | translate }}
      </th>
      <th customSortHeaderId="startTime">
        <custom-sort-header-icon></custom-sort-header-icon>
        {{ "labels.CREATION_DATE" | translate }}
      </th>
      <th customSortHeaderId="endTime">
        <custom-sort-header-icon></custom-sort-header-icon>
        {{ "labels.FINISHED" | translate }}
      </th>
      <th customSortHeaderId="duration">
        <custom-sort-header-icon></custom-sort-header-icon>
        {{ "labels.FINISHED" | translate }}
      </th>
    </tr>
  </ng-template>

  <ng-template #body>
    <ng-container
      *ngFor="
        let t of t | customSort : sortBy.id : sortBy.sortBy;
        let i = index
      "
    >
      <tr
        [ngStyle]="{ cursor: t.history.length > 0 ? 'pointer' : '' }"
        [ngClass]="{ active: historyTable === t.id }"
        (click)="
          t.history.length > 0 &&
            (historyTable = historyTable === t.id ? '' : t.id)
        "
      >
        <td>
          <b>{{ i }}</b>
        </td>
        <td>
          <ng-container *ngIf="t.history.length > 0">
            <div
              *ngIf="t.id === historyTable; else unSeletedHistory"
              class="glyphicon glyphicon-chevron-down"
            ></div>
            <ng-template #unSeletedHistory>
              <div class="glyphicon glyphicon-chevron-up"></div>
            </ng-template>
          </ng-container>
        </td>
        <td>{{ t.name }}</td>
        <td>{{ t.assignee }}</td>
        <td>
          <b *ngIf="t.user as u">{{ u.firstName }} {{ u.lastName }}</b>
        </td>
        <td>{{ t.startTime | date : "M/d/yy, h:mm:ss" }}</td>
        <td>{{ t.endTime | date : "M/d/yy, h:mm:ss" }}</td>
        <td>
          <ng-container *ngIf="t.endTime">
            {{ t.duration | durationFormat : "ms" : "hhmmss" }}</ng-container
          >
        </td>
      </tr>

      <tr *ngIf="historyTable === t.id">
        <td></td>
        <td colspan="100%">
          <custom-history-table
            *ngIf="t.history.length > 0"
            [history]="t.history"
          ></custom-history-table>
        </td>
      </tr>
    </ng-container>
  </ng-template>

  <custom-table [thead]="header" [tbody]="body"></custom-table>
</ng-container>

<ng-template #loading>
  <custom-loading></custom-loading>
</ng-template>
