<ng-template #header>
  <tr>
    <th>#</th>
    <th>{{ "labels.TASK" | translate }}</th>
    <th>{{ "labels.ASSIGNEE" | translate }}</th>
    <th>{{ "labels.CREATION_DATE" | translate }}</th>
    <th>{{ "labels.FINISHED" | translate }}</th>
    <th>{{ "labels.FINISHED" | translate }}</th>
    <th>{{ "labels.ACTION" | translate }}</th>
  </tr>
</ng-template>

<ng-template #body>
  <tr *ngFor="let t of taskProcessInstanceDetail$ | async; let i = index">
    <td>{{ i }}</td>
    <td>{{ t.name }}</td>
    <td>
      <div style="display: flex; gap: 1em">
        {{ t.assignee
        }}<b *ngIf="t.user as u">{{ u.firstName }} {{ u.lastName }}</b>
      </div>
    </td>
    <td>{{ t.startTime | date : "M/d/yy, h:mm:ss" }}</td>
    <td>{{ t.endTime | date : "M/d/yy, h:mm:ss" }}</td>
    <td>{{ t.duration | durationFormat : "ms" : "hhmmss" }}</td>
    <td style="padding: 0">
      <custom-history-table [history]="t.history"></custom-history-table>
    </td>
  </tr>
</ng-template>

<custom-table [thead]="header" [tbody]="body"></custom-table>
